.participant-badge {
  background-color: #fc585d;
}

.participant-btn {
  background-color: white;
  border: none;
}

.participate-btn {
  border: 4px solid #fc585d;
  background-color: white;
  color: #ff8500;
  font-weight: bold;
  transition: 0.5s;
}

.participate-btn:hover {
  transform: scale(1.1) translate(-2px, 2px);
  -webkit-box-shadow: 8px 8px 0px 0px #000000;
  box-shadow: 8px 8px 0px 0px #000000;
  color: black;
  /* box-shadow: ; */
}

.participants-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participants-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
